#.env file hidden
# Create a new file called '.env', copy the contents of this file into it and add the necessary details

DB_USERNAME =
DB_PASSWORD =
GMAIL_USERNAME=
GMAIL_PASSWORD=
MAPBOX_APIKEY=
JWT_SECRETKEY=
REDIS_URL=