#.env file hidden
# Create a new file called '.env', copy the contents of this file into it and add the necessary details

# --- DATABASE CONFIGURATION ---

DB_USERNAME = enter_your_name_here
DB_PASSWORD = enter_your_password_here
DB_NAME = enter_db_name